# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.app
bin/data/Monp.JPG

bin/data/make_a_quicktime_vr_in_10_mnts.jpg

bin/data/pano.jpg

bin/data/PanoConcordiAstro.jpg
